@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,600;1,700&display=swap');

*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.contenedor_header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}
.fa-user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid grey;
    font-size: 15px;
    cursor: pointer;
}
h1{
    font-size: 30px;
    color: rgb(43, 41, 163);
    letter-spacing: 1px;
    text-shadow: 0 0 6px rgba(0,0,0,0.5);
}
.fa-shopping-bag{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e4758f49;
    color: #ed174a;
    border-style: none;
    font-size: 15px;
    cursor: pointer; 
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: relative;
    background: darkblue;
}
.contenedor_link{
    position: absolute;
    left: -100%;
    top: 50px;
    width: 100%;
    padding: 10px;
    background: #fff;
    text-align: center;
    transition: all 0.5s ease-out;
    
}
.mostrar_menu{
    left: 0%;
}
.contenedor_link li{
    margin-top: 10px;
}
.link{
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.fa-bars{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    font-size: 25px;
    font-weight: 600;
    border-style: none;
    background: #ed174a;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.search{
    width: 300px;
    height: 35px;
    margin-right: 5px;
    border-radius: 5px;
    border-style: none;
}
.slider_supermercado{
    position: relative;
    width: 100%;
    height: 500px;
}
.slider_supermercado:before{
    position: absolute;
    content: "";
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slider_supermercado img{
    width: 100%;
    height: 100%;
}
.contenedor_informativo{
    position: absolute;
    top: 30%;
    left: 20px;
    z-index: 2;
}
.text_informativo{
    color: #fff;
    font-weight: 300;
}
.titulo_informativo{
    font-size: 30px;
    color: #fff;
    padding: 10px 0;
}
.boton_informativo{
    width: 130px;
    height: 40px;
    border-style: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #ed174a;
    color: #fff;
    cursor: pointer;
}
.boton_informativo:hover{
    background: darkblue;
}
.verduras_estanteria{
    width: 90%;
    margin: auto;
}
.estanteria_img{
    width: 100%;
    height: 400px;
    margin-top: 30px;
    border-radius: 5px;
    object-fit: cover;
}
.contenedor_section_verduras{
    width: 100%;
    margin-top: 20px;
}
.contenedor_enlaces_productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.contenedor_enlaces_productos a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    color:black;
    margin: 0 5px ;
}
.contenedor_enlaces_productos a:hover{
    background: #ed174a;
    color:#fff;
    border-radius: 5px;
}
.contenedor_productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 10px;
    column-gap: 5px;
}
.productos{
    max-width: 200px;
    text-align: center;
    border: 1px solid rgba(146, 146, 146, 0.76);
    border-radius: 5px;
    background: #fff;
    margin: auto;
}
.productos img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    
}
.productos h2{
    font-size: 23px;
    color: #ed174a;
}
.btn-car{
    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 10px;
    background: #fff;
    border: 1px solid rgba(146, 146, 146, 0.76);
    cursor: pointer;
    border-radius: 5px;
}
.btn-car:hover{
    background: rgba(40, 40, 214, 0.884);
    color:#fff;
    border-style: none;
}
.ofertas_text{
    display: none;

}
.section_ofertas{
    margin-top: 30px;
}
.contenedor_ofertas{
    width: 100%;
    height: 350px;
    position: relative;
}
.contenedor_ofertas img{
    width: 100%;
    height: 100%;
}
.contenedor_especial{
    display: grid;
    grid-template-rows: 20% 30% 50%;
    width: 80%;
    margin: auto;
    gap: 20px;
    padding: 20px;
    
}
.special_deals h2{
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
    font-weight: normal;
}
.contenedor_especial img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.979);
    object-fit: cover;
}
.top_products h2{
    text-align: center;
    margin: 40px 0;
    font-size: 40px;
    font-weight: normal;
}
.top_products{
    background: rgba(243, 242, 242, 0.521);
}
.contenedor_productos2{
   display: grid;
   row-gap: 20px;
   padding:  30px 0;
   
}
.medios_pagos {
    position: relative;
  
}
.medios_pagos h2{
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
    font-weight: normal;
}



.container_slider{
    width: 100%;
    margin: auto;
    overflow-x: hidden; 
    position: relative;
}
.slider{
    display: flex;
    width: 200%;
    height:200px;
    margin-left: -50%;
    position: relative;
}
.slider__section{
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-around;

}
.slider__section img{
    
     width: 50px;
     height: 50px;
}
.slider__btn{
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgba(255,255,255,0.5);
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}
.slider__btn:hover{
     background:black;
     color:  #fff;
}
.slider__btn--left{
    left: 0;
}
.slider__btn--right{
    right: 0%;
}
.newlesster{
    display: grid;
    width: 100%;
    background: darkblue;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    justify-content: center;
}
.contenedor_newlesster{
    text-align: center;
    padding: 20px;
}
.contenedor_newlesster h4{
    font-size: 30px;
    color: #fff;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.contenedor_newlesster p{
    color: #fff;
}
.contenedor_email{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
.contenedor_email input{
    display: block;
    width: 350px;
    height: 50px;
    border-radius: 20px;
    border-style: none;
    
}
.contenedor_email label{
    position: absolute;
    font-size: 40px;
    padding: 5px;
    right: 30px;
    top: 0px;
    background: #ed174a;
    width: 100px;
    height: 51px;
    border-top-right-radius:20px ;
    border-bottom-right-radius: 20px ;
    cursor: pointer;
}
footer{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.contenedor_Informacion_footer{
    padding: 10px;
}
.contenedor_Informacion_footer h4{
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 10px;
}
.contenedor_Informacion_footer hr{
    width: 50px;
    height: 3px;
    background: darkblue;
    border-style: none;
    margin-bottom: 20px;
}
.contenedor_Informacion_footer li{
    list-style: none;
    margin-top: 10px;
}
.contenedor_Informacion_footer li a{
    text-decoration: none;
    color: black;
}
.contenedor_Informacion_footer li a:hover{
    
    color: darkblue;
}
.contenedor_redes{
    margin-top: 10px;
}
.contenedor_redes h4{
    font-size: 24px;
    font-weight: bold;
    color: darkblue;
    
}
.contenedor_redes i{
   font-size: 30px;
   margin-right: 10px;
   cursor: pointer;
   transition: color 0.5s ease;
}
.contenedor_redes i:hover{
    color: #ed174a;
}
@media screen and (min-width:1024px){
    .content_title{
    font-size: 40px;
}
.content_text{
    font-size: 25px;
}
}
